body {
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  margin: auto;
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.card-glass {
  max-width: fit-content;
  width: 75%;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
  margin: 20px auto 20px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  font-size: small;
 

  padding: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 50px;
  background-color: rgb(255, 255, 255, .35);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  
}

.card-glass-footer {
  font-size: 0.65em;
  color: #446;
}

h1 { 
max-width: fit-content;
width: 75%;
min-height: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 20px auto 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style:normal;
font-size: x-large;
padding: 15px;
border: 3px  #1c87c9;
border-radius: 50px;

letter-spacing: 1px;
color: rgb(205, 232, 178);
text-shadow: 2px 2px 4px #000000;



background: linear-gradient(rgba(37, 52, 163, 0.473), rgba(35, 129, 105, 0.25));
box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(15px);





}

.legButton { 
    text-align: center;
    font-size:x-large;
    letter-spacing: 2px;
    color: rgb(238, 241, 215);
    text-shadow: 2px 2px 4px #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
    display: flex;
    border-radius: 70px;
    background-image: url('matchingCardsImages/Legs.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 140px;
    padding: 10px;
    border: 3px  #1c87c9;
    vertical-align: middle;
    
    margin: 20px auto 20px;

      display: flex;
      align-items: center;
      justify-content: center 
    }

.backButton { 
    text-align: center;
    font-size:x-large;
    letter-spacing: 2px;
    color: rgb(238, 241, 215);
    text-shadow: 2px 2px 4px #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
    display: flex;
    border-radius: 70px;
    background-image: url('matchingCardsImages/Back.gif');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 200px;
    height: 140px;
    padding: 10px;
    border: 3px  #1c87c9;
    vertical-align: middle;
    
    margin: 20px auto 20px;

      display: flex;
      align-items: center;
      justify-content: center 
    }

.chestButton { 
    text-align: center;
    font-size:x-large;
    letter-spacing: 2px;
    color: rgb(238, 241, 215);
    text-shadow: 2px 2px 4px #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
    display: flex;
    border-radius: 70px;
    background-image: url('matchingCardsImages/Chest.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 140px;
    padding: 10px;
    border: 3px  #1c87c9;
    vertical-align: middle;
    
    margin: 20px auto 20px;

      display: flex;
      align-items: center;
      justify-content: center 
    }

    .nextButton { 
      text-align: center;
      font-size: large;
      letter-spacing: 2px;
      color: rgb(255, 253, 218);
      text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: oblique;
      
      display: flex;
      border-radius: 50px;
      background-image: url('matchingCardsImages/Gokustatic.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 150px;
      height: 100px;
      padding: 10px;
      border: 3px  #1c87c9;
     
      
      margin: 20px auto 20px;
  
        display: flex;
        align-items: center;
        justify-content: center; 
      }

.nextButton:hover {
  background-image: url('matchingCardsImages/Gokunext.gif');
}

.doneButton { 
  text-align: center;
  font-size: large;
  letter-spacing: 2px;
  color: rgb(255, 253, 218);
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  
  display: flex;
  border-radius: 50px;
  background-image: url('matchingCardsImages/goku-done.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 200px;
  padding: 30px;
  border: 3px  #1c87c9;
 
  
  margin: auto;

    display: flex;
    align-items: center;
    justify-content: center; 
  }

.hvr-shrink {
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
 }
 .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
 }


.wrapper{
  max-width: 500px;
  min-height: fit-content;
  max-height: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid black;
  grid-template-columns: 50px 1fr;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.card {
  max-width: fit-content;
  min-width: 190px;
  min-height: 50px;
  max-height: fit-content;
  border-radius: 40px;
  background: #f5f5f5;


  backdrop-filter: blur(15px);
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 20px 100px 20px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
  text-align: center;

 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: auto;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card-selected {
  transform: translate(-50%, 50%);
  opacity: 1;

  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
 }

 .card-img-top {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: fill;
  max-width: 200px;
  max-height: max-content;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-color: #000000;
  margin: 5px auto 5px;
 }

#card-column {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-small {
  max-width: fit-content;
  min-width: 190px;
  min-height: 50px;
  max-height: fit-content;
  border-radius: 40px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }

 .input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.input:not(:placeholder-shown) {
  background-color: rgb(115, 211, 115);
}


  
.link-button {
  background: #FBCA1F;
  font-family: inherit;
  color: #000000;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.link-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  text-decoration: none;
}

.link-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
  text-decoration: none;

}